body {
    font-size: 1.5rem;
    margin: 1rem;
}

input {
    width: 5rem;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    text-align: center;
}

button {
    border: none;
    border-radius: 10px;
    background-color: rgb(0, 120, 255);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
button:hover, button:focus {
    outline: .15rem solid black;
}
button:active {
    scale: 0.9;
}

#operacao {
    display: inline-block;
    margin-inline: .5rem;
    width: .5rem;
}

.operacoes-btns {
    width: 2rem;
    height: 2rem;
    font-weight: bold;
}

#limpar {
    width: fit-content;
    font-weight: bold;
}

.cal-divs {
    margin: 1rem;
}

#resultado {
    width: fit-content;
    min-width: 10rem;
    min-height: 4.5rem;
    margin: auto;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid black;
}